@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@700&family=Lato:wght@700&family=Montserrat&family=Nunito+Sans:wght@700&family=Quicksand:wght@500&display=swap');
* {
  margin: 0;
}
.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: rgb(233, 233, 233);
  justify-content: center;
  align-items: center;
}
.calendar {
  height: 600px;
  width: 800px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px 0.5px rgb(114, 114, 114);
}
.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* margin-top: 40px;
  /* margin-left: 30px; */ Removed for SEO ranking */
}
.monthYear {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-top: 18px;
}
.year {
  font-size: 27px;
  color: rgb(200, 200, 200);
  font-family: 'Montserrat', sans-serif;
  
}
.month {
  color: rgb(255, 72, 72);
  text-transform: uppercase;
  font-family: 'Assistant', sans-serif;
  font-weight: 900;
  letter-spacing: -1px;
  margin-top: -14px;
  margin-left: -5px;
  font-size: 50px;
} 
.week{
  display: flex; 
  font-family: 'Lato', sans-serif; 
  justify-content: space-between; 
  margin: 25px;
  margin-left: 43px; 
  margin-right: 50px; 
  margin-top: 13px; 
  letter-spacing: 0.5px; 
  font-weight: bold;

}
.week li{
  display: flex; 
  width: 92px; 
  justify-content: center; 
  list-style-type: none; 
  border-radius: 20px; 
  place-items: center; 
  padding: 7px 0px; 
  font-size: 13.3px; 
  color: white;
  margin-right: 1;
}
.weekdays{
  background-color: gray;
}
.weekends{
  background-color: rgb(255, 72, 72);
}
.days{
  display: flex; 
  flex-wrap: wrap; 
  margin-left: 43px;
}
.days div{
  width: 90px; 
  height: 53px;
  display: flex;
  justify-content: end;
  align-items: end;
  border: 2px solid rgb(224, 224, 224); 
  border-radius: 8px; 
  margin-bottom: 8px; 
  margin-right: 8px;
  transition: all 0.35s;
}
.days p{
  padding: 4px 5px;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
}
.today p{
  background-color: rgb(134 140 255);
  border-radius: 26px;
}
.days div:hover{
  background-color: #ecf0f1;
}
.previousMonthDate, .nextMonthDate{
  color: #afafaf;
}
.previous{
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin-right: 20px;
  border-radius: 25px;
  font-size: 20px;
}
.previous:hover, .next:hover{
  background-color: #afafaf;
  cursor: pointer;
}
.next{
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin-left: 20px;
  border-radius: 25px;
  font-size: 20px;
  transition: all 0.34s;
}